body{
    background-color: black;
}
#top h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
#download p{
    text-align: center;
}
#download a{
    color: aquamarine;
    font-size: 16px;
}

#guide h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 47px;
    color: white;
    text-align: center;
}

#guide p{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-align: center;
}

#soon h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}

#soon p{
    text-align: center;
}

#soon a{
    color: aquamarine;
    font-size: 16px;
}